<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;RelativeLayout</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">= &quot;match_parent&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.MainActivity&quot;</span><span class="s0">&gt;</span>


    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/title&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;118dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;48dp&quot;</span>
        <span class="s1">android:layout_centerInParent</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;To Do List App: Keep Task of all your tasks&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#1939EA&quot;</span>
        <span class="s1">android:textFontWeight</span><span class="s2">=&quot;1000&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;14dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/add&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;98dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;63dp&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Add&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;15dp&quot;</span><span class="s0">/&gt;</span>

<span class="s0">&lt;ScrollView</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;80dp&quot;</span>
    <span class="s1">android:scrollbars</span><span class="s2">=&quot;none&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/container&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span><span class="s0">/&gt;</span>
<span class="s0">&lt;/ScrollView&gt;</span>

<span class="s0">&lt;/RelativeLayout&gt;</span></pre>
</body>
</html>